<div class="my-4">
  <h1>About Page</h1>
  <p class="px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, consequuntur? Mollitia suscipit inventore sint nostrum! Nemo cupiditate accusamus minus cum voluptas optio iure sed. Odit ab necessitatibus hic officiis optio?</p>
  <p class="px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, consequuntur? Mollitia suscipit inventore sint nostrum! Nemo cupiditate accusamus minus cum voluptas optio iure sed. Odit ab necessitatibus hic officiis optio?</p>
  <p class="px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, consequuntur? Mollitia suscipit inventore sint nostrum! Nemo cupiditate accusamus minus cum voluptas optio iure sed. Odit ab necessitatibus hic officiis optio?</p>
</div>
